$brand-primary: #3f51b5;

$twitch-color: #6441BD;
$twitch-chat-background: #f2f2f2;

$font-size-base: 16px !default;

$navbar-height: 70px !default;
$navbar-default-bg: #ffffff;
$navbar-default-link-color: $brand-primary;
$navbar-default-border: #e7e7e7;

@import "node_modules/bootstrap-sass/assets/stylesheets/_bootstrap.scss";


@import "navbar";
@import "tabs";
@import "streamlist";
@import "stream";
@import "page";
@import "footer";

.alert {
    margin-bottom: 0;
}

.center-block {
    float: none;
    margin: 0 auto;
}

.form-horizontal .form-group {
    margin-left: 15px;
    margin-right: 15px;
}

.no-overflow {
    overflow-y: hidden;
}

.streams, .followed {
    margin-top: 20px;
}
