@import "variables";
@import "node_modules/bootstrap/scss/bootstrap.scss";
@import "nprogress";

@import "icons";
@import "navbar";
@import "stream";

body {
  font-family: -apple-system, BlinkMacSystemFont,
    "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell",
    "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
}

.main-container {
  margin-top: 80px;
}

footer {
  background-color: #fcfcfe;
  margin-top: 42px;
  border-top: 1px solid #e7e7e7;
  padding-top: 25px;
  padding-bottom: 40px;
}

.form-control:focus {
  border-color: #ccc;
}


// Vue select
.highlight a,
li:hover > a {
  color: $brand-primary !important;
}
.active a {
  color: $brand-primary !important;
}

// App.Vue
.bg-faded {
  background-color: #fcfcfe;
}

.row {
  margin-bottom: 2rem;
}

// Error.Vue
.alert-danger {
  background-color: transparent;
  border-color: #a94442;
}

// Settings.Vue
h1 {
  margin-bottom: 1em;
}

.alert {
  margin-top: 2em;
}

// StreamItem.Vue
.card-img {
  border-radius: 0.1rem;
}

.card {
  cursor: pointer;
  border: none;
  margin-bottom: 2rem;
}

.card-footer {
  border: none;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  overflow:hidden;
  padding: .5rem 1rem;
}

.card-title, .card-text {
  white-space: nowrap;
  overflow-x: hidden;
  text-overflow: ellipsis;
}

.card-title {
  font-size: 1rem;
  margin-bottom: 0.3rem;
  font-weight: 400;
}

.card-inverse .card-text {
  font-size: 0.9rem;
  font-weight: 200;
  color: rgba(255,255,255,.8);
}

// StreamList.Vue
.dropdown-toggle::after {
  border: none;
}

.dropdown-menu > li > a {
  display: block;
  padding: 3px 20px;
  clear: both;
  font-weight: 400;
  line-height: 1.42857143;
  color: #333;
  white-space: nowrap;
}

input[type=search] {
  padding: .375rem .75rem !important;
}

.selected-tag {
  background-color: transparent !important;
  border: none !important;
  margin-left: 10px !important;
}

.button {
    cursor: pointer;
    text-decoration: underline;
    color: blue;
}
