@font-face {
    font-family: 'material';
    src:
        url('/fonts/material.ttf?ramryl') format('truetype'),
        url('/fonts/material.woff?ramryl') format('woff'),
        url('/fonts/material.svg?ramryl#material') format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon__"], [class*=" icon__"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'material' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon__left:before {
    content: "\e408";
}
.icon__right:before {
    content: "\e409";
}
.icon__fullscreen:before {
    content: "\e5d0";
}
.icon__fullscreen-exit:before {
    content: "\e5d1";
}
