
.logo {
    font-weight: 300;
    color: #333;
}

.logo__hls {
    font-weight: 600;
    color: $brand-primary;
}

.navbar {
  border-bottom: 1px solid #e7e7e7;
}

.navbar-default {
  background-color: #fcfcfe;
}

.navbar-brand {
    float:none;
}

.nav-link {
  color: #bebebe;
}

.nav-link.active {
  color: $brand-primary !important;
}

/* responsive nav */
@media(max-width:48em) {
  .navbar-default .navbar-nav>.nav-item {
    float: none;
    margin-left: .1rem;
  }
  .navbar-default .navbar-nav {
    float:none !important;
  }
}

@media(min-width:48em) {
  .navbar-brand {
    float: left;
  }
}
