iframe {
    min-height: 100vh;
    min-width: 100%;
    bottom: 0;
}

.container-fluid {
    padding: 0px;
    margin: 0px;
}

.row.no-padding {
  margin-right:0;
  margin-left:0;
}

.row.no-padding > [class*='col-'] {
  padding-right:0;
  padding-left:0;
}

.stream-buttons {
    z-index: 100;
    position: absolute;
    top: 10px;
    right: 20px;
    border: none;
    outline: none;
}

.stream-button, .btn-on-stream {
    z-index: 100;
    position: absolute;
    top: 10px;
    right: 20px;
    border: none;
    outline: none;
}

.stream-buttons button,
.stream-buttons button:active,
.stream-buttons button:focus,
.stream-buttons button:active:focus,
.stream-buttons button:active:hover {
    border: none;
    background-color: transparent;
    color: $twitch-color;
    outline: none;
    box-shadow: none;
}

.stream-buttons button:hover {
    color: #000000;
    background-color: transparent;
    outline: none
}

.btn-group-on-stream button,
.btn-group-on-stream button:active,
.btn-group-on-stream button:focus,
.btn-group-on-stream button:active:focus,
.btn-group-on-stream button:active:hover {
    color: rgba(255, 255, 255, 0.2);
    background-color: rgba(0, 0, 0, 0.1);
    outline: none;
    height: 60px;
    width: 60px;
}

.btn-group-on-stream:hover button{
    background-color: rgba(0, 0, 0, 0.5);
    border-color: rgba(0, 0, 0, 0.5);;
    color: rgba(255, 255, 255, 0.5);
}

.btn-group-on-stream button:hover {
    color: rgba(255, 255, 255, 0.9);
}
