
.btn-group .btn + .btn {
  margin-left: 0;
}

.stream__buttons {
  position: absolute;
  top: 10px;
  right: 20px;
  border: none;
  outline: none;
  z-index: 2000;
}

.stream__button,
.stream__button:active,
.stream__button:focus,
.stream__button:hover,
.stream__button:active:focus,
.stream__button:active:hover {
  padding: 8px;
  background-color: transparent;
  color: $brand-twitch;
  border: none;
  border-radius: 0;
  outline: none;
  box-shadow: none;
}

.stream__button:hover {
  color: rgba(128, 128, 128, 0.5);
}

.stream__button--overlayed,
.stream__button--overlayed:active,
.stream__button--overlayed:focus,
.stream__button--overlayed:hover,
.stream__button--overlayed:active:focus
.stream__button--overlayed:active:hover {
  color: rgba(255, 255, 255, 0.2);
  background-color: rgba(0, 0, 0, 0.1);
}

.stream__button--overlayed:hover {
  background-color: rgba(0, 0, 0, 0.5);
  color: rgba(255, 255, 255, 0.9);
}

.stream {
  z-index: 1050;
  position: absolute;
  top: 0;
  left: 0;
  padding:0;
  margin:0;
  width: 100vw;
  height: 100vh;
}

.stream__player {
   background-color: #000;
   float: left;
   position: absolute;
   top: 0;
   bottom: 0;
   left: 0;
   width: 75%;
   resize: both;
}

.stream__chat {
  z-index: 1100;
  background-color: #efeef1;
  left: 75%;
  float: right;
  position: absolute;
  top:0;
  bottom: 0;
  right: 0;
  overflow-y: hidden;
}

.stream__player iframe, .stream__chat iframe {
  width: 100%;
  height: 100%;
  margin:0;
  padding:0;
  border: none;
  display: block;
}

.stream__dragbar:after {
    content:"";
    position: absolute;
    z-index: -1;
    top: 30%;
    bottom: 30%;
    left: 55%;
    border-left: 1px solid rgba(128, 128, 128, 0.5);
}

.stream__dragbar {
  z-index: 1110;
  position: absolute;
  right: -90px;
  top: 50vh;
  height:150px;
  float: right;
  width: 180px;
  cursor: col-resize;
  transform: translateY(-50%);
}

@media(max-width:48em) {
  .stream__player {
    width: 100%;
  }
  .stream__chat {
    left: 0;
  }

  .stream__chat--hidden-sm {
    display: none;
  }

  .stream__dragbar--hidden-sm {
    display: none;
  }

  .stream__buttons--hidden-sm {
    display: none;
  }

  .stream__button--overlayed {
    font-size: 3em;
    color: rgba(255, 255, 255, 0.2);
  }

  .stream__button--overlayed:hover {
    background-color: transparent;
  }
}

@media(min-width:48em) {
  .stream__chat--hidden {
    display: none;
  }

  .stream__player--full {
    width: 100% !important;
  }

  .stream__dragbar--hidden {
    display: none;
  }

  .stream__buttons--hidden {
    display: none;
  }
}
