.nav-tabs {
    margin-right: 15px;
    margin-left: 15px;
    border-bottom-color: #e7e7e7;
}

.nav-tabs > li {
    margin-right: 10px;
}

.nav-tabs > li > a {
    color: #777777;
    border: none;
}

.nav-tabs > li.active {
    border-bottom: 1px solid $brand-primary;
}

.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    color: $brand-primary;
    border: none;
}

.nav-tabs > li > a:hover {
    background-color: #ffffff;
    color: $brand-primary;
}
